.dashboard-page {
  position: relative;
  top: 2em;
  left: 5%;
  margin: auto;
  width: 100%;
  max-width: 1200px;
}

@media screen and (max-width: 1270px) {
  .dashboard-page {
    left: 14%;
  }
}
