.graph {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}
.radarChart {
  background-color: #282d30;
  border-radius: 5px;
}

.black {
  color: black;
}

.red {
  color: #e60000;
}

.text-activity {
  color: #74798c;
  font-size: 1em;
}

.width-li {
  font-size: 2em;
  padding-right: 0.3em;
}

li {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding-right: 1em;
  padding-left: 1.4em;
}

.radar {
  width: 280px;
  height: 280px;
  border-radius: 5px;
  background-color: rgb(40, 45, 48);
}

.graph-bottom {
  margin-top: -23.4%;
  width: 73%;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

@media screen and (max-width: 1270px) {
  .graph-bottom {
    -webkit-box-align: center;
    align-items: center;
    width: 880px;
    max-width: 95%;
  }

  .graph {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
