.sport-see-logo {
  height: 3em;
  padding-right: 7em;
}

.header {
  margin-top: 0.6em;
  padding-top: 2em;
  display: flex;
  align-content: center;
  align-items: center;
  padding-bottom: 0.4em;
  width: 100%;
  color: white;
  background-color: black;
  box-shadow: 2px 2px 2px rgb(0, 0, 0);
}

a {
  padding-left: 1em;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.navlink {
  padding-right: 5em;
  width: 100%;
}

.navlink > a:hover {
  color: red;
  opacity: 0.7;
}

.navlink > a {
  text-decoration: none;
}

.pad-right {
  padding-right: 7.1em;
  position: relative;
  top: -1em;
}

.last {
  padding-right: 1.4em;
}
