.radialprogress {
  height: 280px;
  width: 280px;
  border-radius: 5px;
  background-color: #fbfbfb;
}

.container-legend-score {
  display: flex;
  align-items: center;
  flex-direction: column;
  line-height: 0px;
  margin-left: -1.8em;
  position: relative;
  top: -2.4em;
}

.score-result {
  font-weight: bold;
  font-size: 1.6em;
}

.score-p {
  font-size: 1em;
  color: #282d30;
}

.recharts-sector {
  background-color: white;
}

.score {
  padding-left: 1em;
}
