.boxIcon {
  display: flex;
  border-radius: 5px;
  background: #fbfbfb;
  padding: 1em;
  width: 250px;
  align-items: center;
  height: 120px;
  justify-content: space-between;
}

.boxIcon img {
  padding: 25px;
  border-radius: 6px;
  width: 25px;
  height: 25px;
}

.boxInfos {
  margin: 1em 2em;
  font-size: 1.5em;
  display: flex;
  font-weight: 550;
  align-items: center;
  flex-wrap: wrap;
}

.p-box {
  margin-left: 0em;
  margin-bottom: 0.8em;
  color: #74798c;
  font-size: small;
}
.userCountBoxes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 32px;
}

@media screen and (max-width: 1270px) {
  .userCountBoxes {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    width: 82%;
  }
}
